name: pytest verification

on:
  push:
    branches: [main]
env:
  INSTANCE_DIR: marimo-team__marimo-7116

jobs:
           
  call-docker-verification:
    name: docker-verification
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: get setup_env
      run: |
        echo "查看文件是否存在======================================"
        ls
        python --version
        pip --version 
        docker --version
        pip install docker
        INSTANCE_DIR_LOWER=$(echo "$INSTANCE_DIR" | tr '[:upper:]' '[:lower:]')
        echo "构建镜像======================================"
        sed -i "s|INSTANCE_DIR|$INSTANCE_DIR|g" dockerbuild.py
        sed -i "/^IMAGE_NAME_TEMPLATE/s|$INSTANCE_DIR|$INSTANCE_DIR_LOWER|g" dockerbuild.py
        python dockerbuild.py
        echo "验证镜像======================================"
        sed -i "s|INSTANCE_DIR|$INSTANCE_DIR|g" verification.py
        sed -i "/^IMAGE_NAME_TEMPLATE/s|$INSTANCE_DIR|$INSTANCE_DIR_LOWER|g" verification.py
        python verification.py
